# compiled output
/dist
/out
/build

# dependencies
/node_modules

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS artifacts
.DS_Store
Thumbs.db

# tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# TypeScript
**/tsconfig.build.tsbuildinfo

# temp directories
/temp
.tmp

# runtime data
pids
*.pid
*.seed
*.pid.lock

# diagnostic reports (Node.js)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json