$black: #000000;
$black-background: rgba(0, 0, 0, 0.6);

$white: #ffffff;

$light-gray: #b6b6b6;
$dark-gray: #414b58;

$blue: #5c7be3;
$blue-translucent: rgba($color: $blue, $alpha: 0.1);

$yellow: #fec41c;
$dark-yellow: #e2ae18;

$red: #d82222;
$red-light: #FCE9E9
