.input {
  width: 100%;

  &--outlined {
    border: 1px solid #414b58;
    border-radius: 4px;
    padding: 10px 15px;
  }

  &__field {
    width: 100%;
    border-radius: 4px;
    transition: border-color 0.3s ease;

    &--error {
      border-color: #d82222;
    }

    &--disabled {
      background-color: $light-gray;
      border-color: $light-gray;
      cursor: not-allowed;
    }
  }

  &__error {
    font-size: 12px;
    color: #d82222;
    margin-top: 4px;
  }
}
