.grid {
  @include flex-column;
  align-items: center;
  gap: 30px;

  &-container {
    width: 100%;
    height: 70vh;
    border: 1px solid #414b58;
    border-radius: 4px;
    position: relative;
  }

  &-stack {
    width: 100%;
    height: 100% !important;
    padding: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
        linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
      background-size: 150px 100px;
      pointer-events: none;
    }
  }

  &__modal {
    text-align: center;
    font-size: 16px;
  }
}

:deep() {
  .grid {
    &-stack-item {
      display: flex;
      background-color: $yellow-translucent;
      border: 1px $yellow solid;
      font-size: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &__info {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }
    }
  }

  .delete-icon {
    opacity: 0;
    font-size: 24px;
    color: $grey;
    cursor: pointer;
    transition: opacity 0.1s ease;
    position: absolute;
    top: -5px;
    right: 3px;
  }

  .grid-stack-item:hover .delete-icon {
    opacity: 1;
  }

  .grid-stack-item--selectable {
    cursor: pointer;

    &.grid-stack-item--selected {
      background-color: $dark-yellow;
      .table-number,
      .table-capacity {
        color: white;
      }
    }
  }
}
