.restaurant {
  &__content {
    display: flex;
    justify-content: space-around;
  }

  &__form {
    @include flex-column;
    justify-content: space-between;
    width: 45%;
    gap: 20px;
  }

  &__title {
    margin-bottom: 10px;
    align-self: center;
    white-space: nowrap;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 20px;
    color: $dark-gray;
  }
}
