.restaurant {
  &__wrapper {
    max-height: calc(100vh - 205px);
    overflow-y: auto;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
  }

  &__form {
    @include flex-column;
    width: 40%;
    gap: 20px;
  }

  &__title {
    margin-bottom: 10px;
    align-self: center;
    white-space: nowrap;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 20px;
    color: $black;
  }

  &__checkbox {
    @include flex-align-center;
    flex-direction: row;
  }
}
