.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid $light-gray;
  font-family: "Segoe UI", sans-serif;

  &__left,
  &__right {
    display: flex;
    align-items: center;
    gap: 3rem;
    cursor: pointer;
  }

  &__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
  }

  &__restaurant {
    &--prefix {
      font-weight: 400;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  gap: 30px;

  &__list {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      color: $dark-yellow;
    }

    &--active {
      background-color: $dark-yellow;
      color: $white;
      font-weight: 500;

      &:hover {
        background-color: $yellow;
        color: $white;
      }
    }
  }
}

.profile {
  position: relative;
  cursor: pointer;

  &__icon {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__dropdown {
    position: absolute;
    right: -20px;
    top: 40px;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba($color: #000, $alpha: 0.15);
    z-index: 100;
    min-width: 50px;
  }
}

.dropdown {
  &__item {
    padding: 10px 18px;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background-color: $blue-translucent;
    }
  }
}
