.header {
  @include flex-space-between;
  padding: 25px;
  gap: 30px;
  border-bottom: 1px solid $light-gray;

  &__left {
    @include flex-center;
    gap: 25px;
    cursor: pointer;

    &-logo {
      width: 64px;
      height: 64px;
    }

    &-text {
      font-family: "Raleway";
      font-weight: 700;
    }
  }

  &__center {
    &-text {
      font-family: "Raleway";
      font-weight: 600;
      color: $dark-gray;
    }
  }

  &__right {
    &-nav {
      display: flex;
      gap: 30px;
    }

    &-list {
      @include flex-space-between;
      gap: 30px;
    }

    &-profile {
      cursor: pointer;
    }
  }
}
