.list-controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 25px;
  padding-top: 0;

  &__row {
    @include flex-space-between;
    gap: 20px;
  }

  &__go-back {
    color: $blue;
  }

  &__right {
    @include flex-center;
    gap: 20px;
  }

  &__title {
    color: #414b58;
    font-size: 24px;
    font-family: Raleway;
  }

  &__search {
    width: 16rem;
  }
}
