.wrapper {
  display: flex;
  justify-content: center;
}

.employee {
  &__content {
    @include flex-column;
    width: 70%;
    gap: 25px;
  }
}

:deep() {
  .form {
    &__fields {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: baseline;
      gap: 30px;
    }
  }
}
