// Сброс стилей
@import "../src/style/reset";

// Подключение шрифтов
@import "../src/style/fonts";

// Определение переменных цветов
@import "../src/style/colors";

// Миксины
@import "../src/style/mixins";

// Скролл
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $light-gray;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}
