.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;

  &__label {
    &--readonly {
      pointer-events: none;
      color: $light-gray;
    }
  }

  &__container {
    &--outlined {
      border: 1px solid $dark-gray;
      border-radius: 4px;
      padding: 10px 15px;
    }

    &--error {
      border-color: $red;
    }

    &--readonly {
      padding: 10px 0;
      border: none;
      pointer-events: none;
    }
  }

  &__field {
    width: 100%;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }

  &__error {
    font-size: 12px;
    color: $red;
  }
}
