.button {
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 600;
  transition: all 0.3s ease;

  &--outlined {
    border: 1px solid $blue;

    &:hover {
      background-color: $blue-translucent;
      transition: all 0.3s ease;
    }
  }

  &--filled {
    background-color: $blue;
    color: $white;
  }
}
