.button {
  padding: 10px 20px;

  &--outlined {
    border: 1px solid #5c7be3;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #5c7be3;
      color: #ffffff;
      transition: all 0.3s ease;
    }
  }
}
